include README.md
include LICENSE
include requirements.txt
include requirements-dev.txt
recursive-include docs *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * *.pyd
recursive-exclude * .DS_Store
